---
title: Portfolio
---

<h2>Work</h2>

<p>Cian has worked on multiple projects ranging from local community websites to AAA videogames. Below is a sampling of his work.</p>

<h3>Games</h3>
<ul>
    <li>Rock Band Rivals</li>
    <li>Amplitude</li>
    <li>Rock Band 4</li>
    <li>HYPER GROOVE</li>
    <li>Gone</li>
    <li>On Call</li>
</ul>

<h3>Websites</h3>
<ul>
    <li>Woo! Game Pile</li>
</ul>

<h3>Other</h3>
<ul>
    <li>Ultimate IMGD Booth at PAX East 2013</li>
</ul>